body {font-family: sans-serif;
      background-color: #DFDFDF
    }


.lightblue { background-color: #dfdfdg;

}
.custom-container { width:500px
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img { width: 50%;
                  margin: auto;
}

.container-seite { border-style: solid none none none;
                   border-width: thin;
                   width: 100%;
                   margin-top: 20px;

}

.panel-custom { margin: 40px 20px 20px 10px;
                width: 30%;
                padding: 0;


}

.panel-image {width: 150px;
             margin: none;
 }

.panel-heading_custom {
                       padding: 0 0 0 0;
}

table { text-align: left;
        border: solid black;
        width: 50%;

}

.panelfaq {width: 50%;
          margin-left: 25%;

}
